[Unit]
Description=containerd container runtime
After=network.target local-fs.target

[Service]
ExecStart=/usr/local/bin/containerd -c /etc/containerd.toml
Type=notify
Delegate=yes
KillMode=process
Group=adm
Restart=always
RestartSec=5
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity
TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target