[Unit]
Description=Guest Proxy Certificate
Requires=guestproxy.service
After=guestproxy.service

[Service]
Type=oneshot
ExecStart=/usr/bin/curl --retry 5 --retry-all-errors -sSo /usr/local/share/ca-certificates/proxy.crt http://mitm-me-please/.well-known/hermit/proxy-cert
ExecStartPost=/usr/sbin/update-ca-certificates
Environment=http_proxy=http://127.0.0.1:3128

[Install]
WantedBy=multi-user.target
