[Unit]
Description=Guest Build
After=buildkit.service
Requires=buildkit.service
After=input.mount
Requires=input.mount
After=output.mount
Requires=output.mount

[Service]
Type=oneshot
ExecStartPre=-/bin/sh -c "/usr/local/bin/guest build | tee /dev/ttyS0"
ExecStart=/sbin/shutdown -r now
WorkingDirectory=/input

[Install]
WantedBy=multi-user.target
